:root {
  /* --color-primary: #0fbea1; */
  /* --color-secondary: #21a1c8; */
  --black: #000000;
  --white: #ffffff;
  --gray: #dde7f3;
  --color-primary: #0098d4;
  --color-secondary: #111114;
  --color-message: #e0007b;
  --color-text: #2b2b2b;
  --color-primary-dimmed: #edeff5;
  --color-primary-background-start: #ffffff;
  --color-primary-background: #ffffff;
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "TT Supermolot Neue", sans-serif;
  --font-size-medium: 1.08rem;
  --font-size-small: 1rem;
  --font-size-title4: 1.2rem;
  --font-size-title3: 1.5rem;
  --font-size-title2: 2rem;
  --font-size-title: 2.9rem;
  --font-weight-title: 700;
  --font-weight-text: 400;
  --letter-spacing: 1.1px;
  --line-height: 115%;
}

#back-to-top {
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 35px;
  margin: 20px;
  padding: 20px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s,
    transform 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 200000000;
}

#back-to-top::after {
  content: "\f077";
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#back-to-top:hover {
  cursor: pointer;

  transform: scale(1.1);
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top:hover svg g {
  fill: var(--color-primary) !important;
}

.back-to-top-arrow {
  transform: rotate(-90deg) scale(1.5) !important;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: "Merriweather", serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }

  #back-to-top {
    margin: 30px;
  }
}

.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}

.content h3 {
  font-style: italic;
  color: #96a2a7;
}

.slider-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 5% 0 5% 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10000px;
  display: flex;
  will-change: transform;
  align-items: center;
  justify-content: space-around;
}

.slider-item {
  position: relative;
  flex: 1;
  margin-top: 300px;
  height: 300px;
  overflow: hidden;
}

.img-div {
  position: relative;
  width: 80%;
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

object,
svg {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* linear-gradient(179deg,
      rgb(3 46 66 / 81%),
      rgb(14 1 64 / 54%) 70.71%),
    linear-gradient(45deg, rgb(0 11 64), #00019370 70.71%),
    linear-gradient(266deg, #00342c, rgba(9, 100, 122, 0) 70.71%)
    #3c61ff primary
    #3c61ff secondary
    



    TOX
    linear-gradient(
      179deg,
      rgb(24 46 64 / 81%),
      rgb(14 1 64 / 54%) 70.71%
    ),
    linear-gradient(45deg, #090720, #8294af 70.71%),
    linear-gradient(266deg, #38b9a5, rgb(30 142 171 / 48%) 70.71%) */
a {
  font-family: var(--font-secondary);
  color: var(--white);
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing);
  transition-property: color;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

a:hover,
a:focus {
  color: var(--white);
  text-decoration: none;
}

p {
  font-family: var(--font-primary);
  letter-spacing: var(--letter-spacing);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-text);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  font-family: var(--font-primary);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

h2 {
  font-size: var(--font-size-title2);
  font-weight: var(--font-weight-title);
  font-family: var(--font-primary);
  letter-spacing: var(--letter-spacing);
}

h3 {
  font-size: var(--font-size-title3);
  font-weight: var(--font-weight-title);
  font-family: var(--font-primary);
  letter-spacing: var(--letter-spacing);
}

@font-face {
  font-family: "TT Supermolot Neue";
  /* src: url('TTSupermolotNeue-Regular.eot'); */
  src: local("TT Supermolot Neue Regular"), local("TTSupermolotNeue-Regular"),
    /* url('TTSupermolotNeue-Regular.eot?#iefix') format('embedded-opentype'), */
      url("../font/TTSupermolotNeue-Regular.woff2") format("woff2"),
    url("../font/TTSupermolotNeue-Regular.woff") format("woff"),
    url("../font/TTSupermolotNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  background-color: var(--color-primary-background);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

body::-webkit-scrollbar {
  display: none;
}

.svg--fill {
  fill: var(--color-primary);
}

.cls-1-hero {
  fill: var(--white);
}

.cls-1-bg {
  fill: var(--gray);
}

.cls-2-bg {
  fill: none;
  filter: drop-shadow(1px 1px 10px rgba(5, 159, 197, 0.521));
  stroke: var(--color-primary) !important;
  stroke-miterlimit: 10;
  stroke-width: 1px;
}

.navbar-dash {
  display: inline-block;
  opacity: 0;
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
  margin-right: 15px;
  transition-property: opacity, margin-left, margin-right, padding-left,
    padding-right;
  transition-duration: 0.8s, 275ms, 275ms, 275ms, 275ms;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.nav-link {
  color: white !important;
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 85%;
  transform: scaleX(0);
  height: 1px;
  bottom: 8;
  left: 5;
  background-color: var(--white);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  left: 6px;
  height: 1.5px !important;
  transform-origin: bottom left;
}

.nav-link:hover > .navbar-dash-right {
  opacity: 1;
  margin-left: 1px;
  padding-left: 7px;
}

.nav-link:hover > .navbar-dash-left {
  opacity: 0.7;
  margin-right: 1px;
  padding-right: 7px;
}

/* NAVBAR-SECTION */
.navbar-underline {
  border-bottom: 1.5px solid var(--white);
}

.logo {
  width: 100px;
}

svg g .cls-1,
svg g .cls-3 {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 17.37px;
}

svg > g > g > .cls-1 {
  stroke: url(#linear-gradient);
}

svg > g > g > .cls-3 {
  stroke: url(#linear-gradient-2);
}

svg > g > g > .cls-2 {
  fill: var(--white);
}

.scrolled > a > svg > g > g > .cls-2 {
  fill: rgb(41, 41, 41);
}

.mr-auto {
  padding-left: 1vw;
}

.navbar {
  top: 0;
  left: 0;
  right: 0;
  z-index: 123456789;
  padding: 1.5vw;
  position: fixed;
  width: 100vw;
  transition: padding, color 0.5s, 0.5s;
}

.navbar-filter {
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.scrolled {
  padding: 0.6vw;
  border-bottom: 1.5px solid var(--color-primary) !important;
  color: black;
}

/* .scrolled>.navbar-toggler {
  background-color: none !important;
} */
.scrolled > .navbar-toggler > span > svg > path {
  fill: var(--color-secondary) !important;
}

.scrolled > div > ul > li > a {
  color: var(--color-primary) !important;
}

.nav-contact .nav-link {
  color: var(--white);
}

ul li {
  padding: 0 2vw 0 2vw;
}

/* HERO-SECTION */

.hero-container {
  width: 100vw;
  background: linear-gradient(
      179deg,
      rgb(4, 27, 27),
      rgba(12, 73, 75, 0.74) 70.71%
    ),
    linear-gradient(45deg, rgb(0, 19, 22), var(--color-secondary) 70.71%),
    linear-gradient(266deg, #2b2674, rgba(9, 100, 122, 0) 70.71%);
  background: linear-gradient(
      179deg,
      rgb(3 46 66 / 81%),
      rgb(14 1 64 / 54%) 70.71%
    ),
    linear-gradient(45deg, #090720, #1d56ac 70.71%),
    linear-gradient(266deg, #00342c, rgba(18, 164, 201, 0.479) 70.71%);
}

.hero-content {
  height: 80%;
  width: 100%;
  display: flex;
  align-content: space-between;
  flex-direction: row;
  padding: 8% 0 0 10%;
}

.hero-info {
  width: 40%;
  display: table-cell;
  margin: auto;
  padding-left: 20px;
  scale: 1.15;
}

.hero-title {
  margin: auto;
  color: var(--white);
}

.hero-subtitle {
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-medium);
  color: var(--white);
  margin-top: 20px;
  margin-right: 100px;
}

.hero-graphic {
  width: 60%;
  margin: auto;
  vertical-align: middle;
  display: flex;
  padding-left: 5%;
}

.bcg-hero {
  width: 100vw;
  position: relative;
  bottom: -2px;
}

.btns {
  padding-top: 20px;
}

.btn-contact {
  background-color: var(--color-primary);
  color: var(--white);
  width: 150px;
  padding: 6px 0 6px 0;
  text-decoration: none;
  border: 1px solid var(--color-primary);
  transition-property: background-color, color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.btn-contact:hover {
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  outline: none;
  color: var(--color-primary);
  text-decoration: none !important;
}

.btn-contact:focus,
.btn-contact:active,
.btn-learn-more:focus,
.btn-learn-more:active {
  outline: none;
  text-decoration: none !important;
}

.btn-contact:hover .invert {
  color: var(--color-primary) !important;
}

.btn-learn-more {
  border: solid 1.5px var(--color-primary);
  width: 150px;
  padding: 6px 0 6px 0;
  background: none;
  margin-left: 35px;
  transition-property: background-color, color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  color: var(--color-primary);
}

.btn-learn-more a {
  color: var(--color-primary);
}

.btn-learn-more:hover {
  background-color: var(--color-primary);
  text-decoration: none;
  outline: none;
  color: var(--white);
  border: 1px solid var(--color-primary);
}

.btn-learn-more:hover a {
  color: var(--white);
  text-decoration: none;
}

.hero-img {
  width: 56%;
  filter: drop-shadow(5px 1px 10px rgba(9, 149, 184, 0.945));
}

/* filter: drop-shadow(5px 1px 10px rgba(9, 149, 184, 0.945)); */
.hero-img-static {
  position: absolute;
  left: 69%;
  top: 25%;
  width: 30%;
  margin-right: 0;
  filter: drop-shadow(5px 1px 10px rgba(9, 149, 184, 0.945));
  /* filter: drop-shadow(5px 1px 10px rgba(9, 149, 184, 0.945)); */
}

/* ABOUT US-SECTION */
.about-us-container {
  width: 100vw;
  margin-top: -5%;
  display: flex;
  position: relative;
  z-index: 1234;
}

.about-us-content {
  margin: auto;
  justify-content: center;
  display: table;
  padding: 0% 10% 0 0;
}

.video-container {
  text-align: left;
  width: 30%;
  display: table-cell;
  vertical-align: middle;
}

.video-container svg {
  object-fit: cover;
  width: 100%;
  height: 80%;
  margin-left: -28%;
}

#my-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: url(#Polygon_2) !important;
  /* Clip to Polygon_2 */
}

/* .video-container:hover svg #Polygon_2 {
    fill: url(../images/typing.mp4) !important;
} */

.about-us-col {
  width: 60%;
  display: table-cell;
  margin: auto;
}

.about-us-title {
  margin-top: 15%;
  margin-left: -10%;
}

.about-us-info {
  padding-top: 3%;
}

/* CARDS-SECTION*/
.services-container {
  padding: 15% 10% 15% 10%;
  width: 100%;
  margin: auto;
  background-image: url(../images/bcg-3.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 70%;
  background-size: 55%;
  display: block;
  position: relative;
}

.services-title {
  padding-bottom: 2%;
  margin-left: -5%;
}

.image-row {
  height: 90%;
  padding: 0 3% 0 3%;
}

.card-row {
  height: 70vh;
}

.testtext {
  margin: auto;
}

.card--list {
  color: var(--white) !important;
}

.card-box {
  background-image: url(../images/services/service-bg2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-primary);
  background-size: cover;
  filter: grayscale(50%);
  height: 500px;
  object-fit: cover;
  position: relative;
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  color: var(--white);
  transition: filter, background-image, background-size, height, margin,
    scale 0.6s, 0.6s, 0.6s;
  text-align: left;
}

.testtext {
  color: var(--white);
  padding: 0 50px 0 50px;
}

.card-box h3 {
  transition: font-size 0.6s;
}

.card-box p {
  display: none;
  opacity: 0;
  transition: opacity 1s !important;
  color: rgb(255, 254, 254);
  gap: var(--font-size-medium);
  margin: 0 auto 0 auto;
}

.card-box hr {
  background-color: white;
  display: none;
}

.expand hr {
  display: block;
}

.shrink {
  height: 0% !important;
  margin: 0 !important;
}

.expand {
  height: 101.5% !important;
  margin-bottom: 0px !important;
  background-color: var(--color-primary) !important;
  filter: grayscale(80%);
  filter: none;
}

.card-box br {
  display: none;
}

.expand br {
  display: block;
}

.expand h3 {
  margin-top: 10px;
}

.shrink h3 {
  display: none;
}

.expand p {
  display: block;
  opacity: 1;
}

.h-30 {
  height: 30%;
}

.h-70 {
  height: 70%;
}

/* TECHNOLOGIES */

.tech-title {
  padding-bottom: 5%;
}

.tech-content {
  position: relative;
}

.tech-items {
  margin: 10% 10% 10% 10%;
}

.row-tech {
  width: 100%;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: baseline;
}

.tech-item {
  width: 100px;
  margin: 10px;
}

.tf {
  width: 100%;
}

/* PROJECTS-CAROUSEL */

.carousel-mobile--container {
  display: none;
}

.bcg-1 {
  bottom: -2px;
  z-index: 0;
  position: relative;
}

.bcg {
  top: -2px;
  z-index: 0;
  position: relative;
}

.carousel {
  height: 100vh;
  display: flex;
  position: relative;
  width: 100%;
  background-color: var(--gray);
}

.carousel--left {
  position: relative;
  margin: 5%;
  width: 60%;
}

.carousel--link:focus {
  pointer-events: none !important;
  outline: none !important;
}

.carousel--right {
  margin: 5%;
  width: 40%;
}

.carousel--image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.carousel--slide {
  display: inline-block;
  position: absolute;
  height: 35%;
  width: 90%;
  opacity: 100%;
  transition-property: left, top, opacity, filter, height;
  transition-duration: 0.8s, 0.8s, 0.3s, 0.3s, 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  z-index: 0;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.carousel--pos0 {
  opacity: 0;
  height: 20%;
  left: -10%;
  top: -20%;
  pointer-events: none;
}

.carousel--pos1 {
  height: 20%;
  left: 0%;
  top: 0%;
  opacity: 0.8;
  filter: grayscale(100%);
}

.carousel--pos2 {
  left: 10%;
  top: 27.5%;
  z-index: 123456;
}

.carousel--pos3 {
  opacity: 0.8;
  height: 20%;
  left: 0%;
  top: 70%;
  filter: grayscale(100%);
}

.carousel--pos4 {
  height: 20%;
  opacity: 0;
  left: -10%;
  top: 80%;
}

.carousel--info {
  vertical-align: middle;
  margin: auto;
  padding: 0 5% 0 0;
  display: inline-block;
}

.carousel--header {
  padding-bottom: 10px;
  display: inline;
}

.carousel--button {
  border: none;
  background: none;
  transition: all 1s ease-in-out;
  text-align: center;
  padding: 5px 0 5px 0;
  margin-top: -50px;
}

.carousel--button:hover,
.carousel--button:focus {
  outline: none;
}

.img--button {
  font-size: var(--font-size-title3) !important;
  padding-left: 10px;
}

.switch-up {
  position: absolute;
  z-index: 123;
  background-color: transparent;
  border-style: none;
  outline: none;
  left: 40%;
  bottom: 96.5%;
}

.switch-up:hover,
.switch-up:focus,
.switch-up:active {
  background-color: transparent;
  border-style: none;
  outline: none;
}

.switch-up svg {
  width: 60px;
  transition: fill 0.5s ease-in-out;
}

.switch-up:hover svg g {
  fill: var(--color-primary);
}

.switch-down {
  position: absolute;
  z-index: 123;
  background-color: transparent;
  border-style: none;
  outline: none;
  left: 40%;
  top: 86%;
}

.switch-down:hover,
.switch-down:focus,
.switch-down:active {
  outline: none;
}

.switch-down svg {
  width: 60px;
  transition: fill 0.5s ease-in-out;
}

.switch-down:hover svg g {
  fill: var(--color-primary);
}

/* QUOTE */

.quote {
  font-size: var(--font-size-title2);
  text-align: center;
  padding: 0 2% 8% 2%;
  margin-top: 8%;
}

.quote p {
  text-align: center;
  font-size: var(--font-size-title3);
  padding-top: 20px;
}

/* FAQ */
.FAQ--container {
  padding: 1% 5% 5% 5%;
  background-color: var(--gray);
}

.FAQ--section {
  border-top: 1px solid var(--color-primary);
  border-left: none;
  border-right: none;
  background-color: var(--gray);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-bottom: none;
  border-top: none;
  outline: none;
  transition: background-color 0.6s;
  text-align: left;
}

.FAQ--section > p {
  margin: auto;
}

.FAQ--section:first-of-type {
  border-top: 1px solid var(--color-primary);
}

.FAQ--panel {
  padding: 0 30px 0 30px;
  max-height: 0;
  border: 1px solid var(--color-primary);
  border-top: none;
  transition: max-height, background-color 0.6s, 0.6s;
  overflow: hidden;
  border-left: none;
  border-right: none;
}

.FAQ--section:hover,
.FAQ--section:focus {
  outline: none;
  border-left: none;
  border-right: none;
}

.FAQ--active {
  outline: none;
  border-left: none;
  border-right: none;
}

.FAQ--question {
  padding: 10px;
  display: inline-block;
  font-weight: var(--font-weight-title);
}

.FAQ--arrow {
  height: 25px;
  width: 25px;
  transition: transform 0.6s;
}

.rotate-right {
  transform: rotate(90deg);
}

/* CONTACT CSS */

.form--page {
  position: relative;
  top: 0;
  min-height: 0;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2% 0 0 8%;
  gap: 20px;
  width: 100%;
}

.form--container {
  padding: 2% 0 2% 8%;
  width: 80%;
}

.form--svg {
  right: 0px;
  width: 40%;
  margin-top: 10vh;
  position: absolute;
}

.form--svg > g > g > g > g > .cls-1 {
  fill: none;
}

.form--svg > g > g > g > g > .cls-2 {
  fill: var(--color-primary);
}

.form--text {
  margin-top: 15vh;
  display: block;
  margin-bottom: 50px;
  font-size: var(--font-size-title2);
  font-weight: var(--font-weight-title);
}

.form--action {
  margin-left: 25px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  font-family: var(--font-primary);
  width: 35%;
  padding: 15px;
  border: 0px;
  border: 1px solid var(--color-primary);
  display: block;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  padding-top: 10px;
  margin-bottom: 2px;
  font-size: var(--font-size-title4);
  font-family: var(--font-primary);
}

textarea {
  width: 60% !important;
}

input:focus,
input:active {
  outline: none !important;
}

textarea:focus {
  outline: 2px !important;
}

.fa--contact {
  font-size: var(--font-size-title3) !important;
  padding-right: 20px;
  color: var(--color-primary);
  text-decoration: none;
}

.mail--contact,
.mail--contact:hover {
  text-decoration: none;
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

.mail--contact:focus {
  opacity: 1 !important;
  color: black !important;
}

.map {
  text-align: right;
  padding: 0 10% 5% 10%;
}

.map--container {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
}

.map--left {
  width: 40%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--font-size-title2);
}

.map--left > p {
  text-align: left;
  margin-right: 20px;
  margin-bottom: 0;
}

.map--left > h3 {
  margin-right: 50px;
  text-align: left;
}

.map--right {
  width: 60%;
  margin-left: 200px;
}

.map--google {
  filter: hue-rotate(194deg);
}

iframe {
  width: 100%;
  margin: auto;
  object-fit: cover;
}

/* FOOTER */

.footer--container {
  margin: 0;
  border-top: 1.5px solid var(--color-primary);
  height: auto;
  margin-top: 100px;
  padding: 2%;
}

.footer--content {
  margin: 0 2% 0 2%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer--section {
  margin: 10px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
}

.footer--logo {
  width: 5vw;
  object-fit: cover;
}

.footer--section > .fa {
  font-size: var(--font-size-title2) !important;
  padding: 5px;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease-in;
}

.footer--section > .fa:hover {
  text-decoration: none;
  color: var(--color-secondary);
}

.footer--copyright {
  margin: 0;
  height: auto;
  background-color: var(--color-primary);
  text-align: center;
}

.footer--copyright > p {
  padding: 18px;
  margin: 0;
  color: var(--white);
  font-family: var(--font-secondary);
  font-size: var(--font-size-small);
}

strong {
  font-size: larger;
}
