/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
    --font-size-medium: 1.5vw;
    --font-size-small: 1.3vw;
    --font-size-title3: 2.5vw;
    --font-size-title2: 3.5vw;
    --font-size-title: 4vw;
  }

  .cls-2-bg {
    stroke-width: 1.5px;
  }

  /* HERO-SECTION */

  .hero-content {
    padding: 8% 0 0 5%;
  }

  .hero-info {
    width: 40%;
    display: table-cell;
    margin: auto;
    padding-left: 20px;
    scale: 1.15;
  }

  .hero-subtitle {
    margin-top: 15px;
    margin-right: 20px;
  }

  .btn-contact {
    width: 35%;
    padding: 8px 0 8px 0;
  }

  .btn-learn-more {
    width: 35%;
    padding: 8px 0 8px 0;
    margin-left: 25px;
  }

  /* ABOUT US-SECTION */

  .about-us-info .btn-contact {
    width: 150px;
  }

  .about-us-content {
    padding: 0% 2% 0 2%;
  }

  /* CARDS-SECTION*/
  .services-container {
    padding: 5% 2% 15% 2%;
    background-image: none;
  }

  .services-title {
    width: 80%;
    padding: 5% 0 2% 0;
    margin-left: 0;
  }

  .card-box h3 {
    font-size: var(--font-size-title3);
  }

  /* PROJECTS-CAROUSEL */

  .carousel--left {
    position: relative;
    margin: 5% 2% 5% 2%;
    width: 50%;
  }

  .carousel--right {
    width: 50%;
  }

  .carousel--info {
    vertical-align: middle;
    margin: auto;
    padding: 0 2% 0 2%;
  }

  .switch-up {
    left: 37%;
  }

  .switch-down {
    left: 37%;
  }

  /* FAQ */
  .FAQ--container {
    padding: 1% 3% 7% 3%;
  }

  .FAQ--arrow {
    height: 20px;
    width: 20px;
    transition: transform 0.6s;
  }

  /* QUOTE */

  .quote {
    font-size: var(--font-size-title2);
    text-align: center;
    padding: 0 0 3% 0;
    margin-top: 8%;
  }

  /* CONTACT CSS */

  .form--container {
    padding: 2% 2% 0 2%;
  }

  .form--svg {
    margin-top: 15vh;
  }

  .form--action {
    margin-left: auto;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 40%;
  }

  textarea {
    width: 70% !important;
  }

  .form--action .btn-contact {
    width: 150px;
  }

  .map {
    text-align: right;
    padding: 0 2% 5% 2%;
  }

  .map--container {
    margin: auto;
  }

  .map--left {
    width: 40%;
    margin-right: auto;
  }

  .map--left>p {
    text-align: left;
    margin-right: auto;
  }

  .map--left>h3 {
    margin-right: 50px;
    text-align: left;
  }

  .map--right {
    width: 60%;
    margin-left: 20px;
  }
}